flows.json
[{"id":"77690878.5e60d8","type":"tab","label":"Smart Parking","disabled":false,"info":""},{"id":"36184761.4dd738","type":"inject","z":"77690878.5e60d8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1000","topic":"","payload":"","payloadType":"date","x":310,"y":140,"wires":[["afed67c7.94d468"]]},{"id":"32be1ce8.6c2864","type":"function","z":"77690878.5e60d8","name":"Entry","func":"global.set('enter',msg.payload.Entry)\nmsg.payload=msg.payload.Entry\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":220,"wires":[["1d4db7f9.7f0e18"]]},{"id":"77a3e8e6.93be88","type":"function","z":"77690878.5e60d8","name":"Exit","func":"global.set('exits',msg.payload.Exit)\nmsg.payload=msg.payload.Exit\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":300,"wires":[["f4aa549d.e8f638"]]},{"id":"ed468d50.c970f","type":"function","z":"77690878.5e60d8","name":"Available","func":"global.set('available',msg.payload.Available_slots)\nmsg.payload=msg.payload.Available_slots\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":380,"wires":[["15a9be37.853bf2"]]},{"id":"a109ac78.37ff6","type":"ibmiot in","z":"77690878.5e60d8","authentication":"apiKey","apiKey":"8282c999.efdc78","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu1776","applicationId":"","deviceType":"NODEMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":300,"wires":[["32be1ce8.6c2864","77a3e8e6.93be88","ed468d50.c970f","afed67c7.94d468"]]},{"id":"afed67c7.94d468","type":"debug","z":"77690878.5e60d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":180,"wires":[]},{"id":"15a9be37.853bf2","type":"ui_text","z":"77690878.5e60d8","group":"91118d27.678e3","order":3,"width":0,"height":0,"name":"Available slots","label":"Available Slots","format":"{{msg.payload}}","layout":"row-center","x":760,"y":380,"wires":[]},{"id":"f4aa549d.e8f638","type":"ui_text","z":"77690878.5e60d8","group":"91118d27.678e3","order":2,"width":0,"height":0,"name":"Exited","label":"Vehicles exited","format":"{{msg.payload}}","layout":"row-center","x":710,"y":300,"wires":[]},{"id":"1d4db7f9.7f0e18","type":"ui_text","z":"77690878.5e60d8","group":"91118d27.678e3","order":1,"width":0,"height":0,"name":"Entered","label":"Vehicles entered","format":"{{msg.payload}}","layout":"row-center","x":760,"y":220,"wires":[]},{"id":"b7a2b8bc.d2bb98","type":"ui_button","z":"77690878.5e60d8","name":"","group":"91118d27.678e3","order":5,"width":0,"height":0,"passthru":true,"label":"Enter","tooltip":"","color":"Green","bgcolor":"Yellow","icon":"","payload":"{\"command\":\"enter\"}","payloadType":"json","topic":"","x":330,"y":580,"wires":[["76b35089.42bf2","7385ed01.839274"]]},{"id":"854d485f.bed738","type":"ui_button","z":"77690878.5e60d8","name":"","group":"91118d27.678e3","order":6,"width":0,"height":0,"passthru":true,"label":"Exit","tooltip":"","color":"Red","bgcolor":"Yellow","icon":"","payload":"{\"command\":\"exit\"}","payloadType":"json","topic":"","x":330,"y":660,"wires":[["76b35089.42bf2","7385ed01.839274"]]},{"id":"76b35089.42bf2","type":"ibmiot out","z":"77690878.5e60d8","authentication":"apiKey","apiKey":"8282c999.efdc78","outputType":"cmd","deviceId":"mcu1776","deviceType":"NODEMCU","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":660,"wires":[]},{"id":"7385ed01.839274","type":"debug","z":"77690878.5e60d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":580,"wires":[]},{"id":"42e78b34.d7e3c4","type":"http in","z":"77690878.5e60d8","name":"","url":"data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["a600fb.1a5d7f08"]]},{"id":"5ad6235a.c3f69c","type":"http response","z":"77690878.5e60d8","name":"","statusCode":"","headers":{},"x":530,"y":460,"wires":[]},{"id":"a600fb.1a5d7f08","type":"function","z":"77690878.5e60d8","name":"data","func":"msg.payload={'Entry':global.get(\"enter\"),'Exit':global.get(\"exits\"),'Available_slots':global.get(\"available\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["5ad6235a.c3f69c"]]},{"id":"125140b7.5ed4ef","type":"http in","z":"77690878.5e60d8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":520,"wires":[["c6f8aed.488ff5"]]},{"id":"6f987439.d65dfc","type":"http response","z":"77690878.5e60d8","name":"","statusCode":"","headers":{},"x":530,"y":520,"wires":[]},{"id":"c6f8aed.488ff5","type":"function","z":"77690878.5e60d8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":520,"wires":[["6f987439.d65dfc","fa9aec4.5ce5f1","76b35089.42bf2"]]},{"id":"fa9aec4.5ce5f1","type":"debug","z":"77690878.5e60d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":500,"wires":[]},{"id":"8282c999.efdc78","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"91118d27.678e3","type":"ui_group","z":"","name":"Default","tab":"9533908a.23f21","order":1,"disp":true,"width":"6","collapse":false},{"id":"9533908a.23f21","type":"ui_tab","z":"","name":"Smart Parking","icon":"dashboard","disabled":false,"hidden":false}]